## Observations and Insights

## Dependencies and starter code

In [1]:
# Dependencies and Setup
%matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)
mouse_metadata.head()
#display mouse metadata

Using matplotlib backend: Qt5Agg

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [2]:
# display study result df
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [3]:
# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata, study_results, on=["Mouse ID"])

#rename tumor volume mm3
combined_df = combined_df.rename(columns = {"Tumor Volume (mm3)": "Tumor Volume", "Drug Regimen": "Drug"})
combined_df

,Mouse ID,Drug,Sex,Age_months,Weight (g),Timepoint,Tumor Volume,Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

## Summary statistics

In [21]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Group tumor_vol_df by 'Drug' and 'Timepoint'
# Calculate mean and standard error of the mean (sem) for the 'Tumor Volume'
# groupby drug and timepoint columns
summasummary_df = combined_df.groupby(["Drug", "Timepoint"]).agg({"Tumor Volume" :["mean", "median", "var", "std", "sem"]})
summary_df.head()

                    Tumor Volume
                            mean     median        var       std       sem
Drug      Timepoint
Capomulin 0            45.000000  45.000000   0.000000  0.000000  0.000000
          5            44.266086  45.597064   5.030889  2.242964  0.448593
          10           43.084291  43.421014  12.344133  3.513422  0.702684
          15           42.064317  42.798160  16.878693  4.108369  0.838617
          20           40.716325  40.716428  19.035028  4.362915  0.909731

In [17]:
# Create lists of the tumor volume means for each of the four drugs being compared
cap_tvmean_list = summary_df.loc['Capomulin'].loc[:, 'Tumor Volume'].loc[:,'mean'].tolist()
inf_tvmean_list = summary_df.loc['Infubinol'].loc[:, 'Tumor Volume'].loc[:,'mean'].tolist()
ket_tvmean_list = summary_df.loc['Ketapril'].loc[:, 'Tumor Volume'].loc[:,'mean'].tolist()
plc_tvmean_list = summary_df.loc['Placebo'].loc[:, 'Tumor Volume'].loc[:,'mean'].tolist()

[45.0,
 44.2660864152,
 43.084290581999994,
 42.06431734625,
 40.71632532173913,
 39.939527826818185,
 38.76933928863636,
 37.81683888227273,
 36.95800081142856,
 36.2361138]

In [ ]:
# Create lists of the tumor volume sems for each of the four drugs being compared
cap_tvsem_list = summary_df.loc['Capomulin'].loc[:, 'Tumor Volume'].loc[:,'sem'].tolist()
inf_tvsem_list = summary_df.loc['Infubinol'].loc[:, 'Tumor Volume'].loc[:,'sem'].tolist()
ket_tvsem_list = summary_df.loc['Ketapril'].loc[:, 'Tumor Volume'].loc[:,'sem'].tolist()
plc_tvsem_list = summary_df.loc['Placebo'].loc[:, 'Tumor Volume'].loc[:,'sem'].tolist()

In [35]:
# list of number off data points for each treatment
#cap_d = summary_df.loc['Capomulin'].loc[:, 'Timepoint'].loc[:, 'sem'].tolist()
#inf_d = summary_df.loc['Infubinol'].loc[:, 'Timepoint'].loc[:,'sem'].tolist()
#ket_d = summary_df.loc['Ketapril'].loc[:, 'Timepoint'].loc[:,'sem'].tolist()
#plc_d = summary_df.loc['Placebo'].loc[:, 'Timepoint'].loc[:,'sem'].tolist()

AttributeError: module 'pandas' has no attribute 'dataframe'

## Bar plots

In [36]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas
summasummary_df1 = combined_df.groupby(["Drug", "Timepoint"]).agg({"Drug"})
summary_df1.head()
 #Minor Data Munging to Re-Format the Data Frames
#tumorVolVsTime = tumorVolumeByDrug.pivot(index='Timepoint', columns='Drug', values='Tumor Volume (mm3)')
#stdErrVsTime = stdErrorTumorVol.pivot(index='Timepoint', columns='Drug', values='Tumor Volume (mm3)')
#stdErrVsTime.head()

#drugList = ["Capomulin", "Infubinol", "Ketapril", "Placebo"]
#plotStyleDict = {"Capomulin":'ro:', 'Infubinol':'b^:', 'Ketapril':'gs:', 'Placebo': 'kd:'}

## Generate the Plot (with Error Bars)

#fig1, ax1 = plt.subplots()
#for drug in drugList:
    #ax1.errorbar(tumorVolVsTime.index, tumorVolVsTime[drug], stdErrVsTime[drug], fmt = plotStyleDict[drug])
#ax1.legend()
#plt.grid(True)
#plt.title('Tumor Response to Treatment')
#plt.xlabel('Time (Days)')
#plt.ylabel('Tumor Volume (mm3)')

#Save plot 
#plt.savefig("TumorResponseToTreatment.png")
#plt.show()

AttributeError: 'SeriesGroupBy' object has no attribute 'Drug'

In [7]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [8]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [9]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [10]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [11]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [12]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [13]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [14]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen